<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@1,300&family=Montserrat&family=Noto+Sans+Sharada&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="mainContainer">
      <%- include('\partials\\title.ejs') %>
      <div class="formContainer">
        <form
          class="answerForm"
          action="/users/answer/<%=questionId%>"
          method="POST"
        >
          <input type="hidden" name="questionId" value="<%= questionId %>" />
          <label for="answer"><%=question%></label><br /><br />
          <textarea id="answer" name="answer" rows="8" cols="50"></textarea
          ><br /><br />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="mainImageTop">
        <img src="\images\AdobeStock_311664549_Preview.jpeg" />
      </div>
    </div>
  </body>
</html>
